@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address style='color:darkgreen;'>
    Home: Rusa Mia Chairman Bari<br />
    Village: Khaguria<br />
    Post Office: Kahguria <br />
    Laksmipur Sadar,Laksmipur<br />
    <abbr title="Phone">Phone Number: </abbr>
    017124.....
</address>

<address>
    <strong>Facebook Page:</strong>   <a href="https://www.facebook.com/%E0%A6%B0%E0%A7%8B%E0%A6%B6%E0%A6%BE-%E0%A6%AE%E0%A6%BF%E0%A7%9F%E0%A6%BE-%E0%A6%9A%E0%A7%87%E0%A7%9F%E0%A6%BE%E0%A6%B0%E0%A6%AE%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%A8-%E0%A6%AC%E0%A6%BE%E0%A7%9C%E0%A7%80-%E0%A6%AF%E0%A7%81%E0%A6%AC-%E0%A6%B8%E0%A6%82%E0%A6%98-226996811430455">FagebookPage.com</a><br />
    <strong>Fagebook Group:</strong> <a href="https://www.facebook.com/groups/1393625617628641">PagebookGroup.com</a>
</address>